<div data-role="header">
	<h1>Specials</h1>
</div>
<div data-role="content">
	<div data-role="collapsible" data-theme="b" data-content-theme="d">
		<h3>Specials</h3>
		<p><%= vendor.name %> &nbsp; menu specials!</p>
	</div>
	<h2>Menu</h2>
	<ul data-role="listview" data-theme="g">
		<li>Name:<%= special.name %></li>
		<li>Date:<%= special.date %></li>
		<li>Time:<%= special.time %></li>
	</ul>
</div>
<div data-role="footer">
	<p>PantherEats &copy; 2012</p>
</div>
