<div data-role="header">
	<h1>Standards</h1>
</div>
<div data-role="content">
	<div data-role="collapsible" data-theme="b" data-content-theme="d">
		<h3>Standards</h3>
		<p><%= vendor.name %> &nbsp; menu standards! (menu items that rarely(never) change)</p>
	</div>
	<h2>Menu</h2>
	<ul data-role="listview" data-theme="g">
		<li>Name:<%= standard.name %></li>
		<li>Date:<%= standard.date %></li>
		<li>Time:<%= standard.time %></li>
	</ul>
</div>
<div data-role="footer">
	<p>PantherEats &copy; 2012</p>
</div>
